@import url(https://fonts.googleapis.com/css?family=Lato:300);
.bottom, .top, .back, .front, .left, .right, car, wheel, collisionpoint {
  position: absolute;
  width: 100px;
  height: 200px;
  box-sizing: border-box;
  background: url(https://i.pinimg.com/originals/b8/8d/e1/b88de1b111daedfce7da2198ad4e4917.jpg);
  background-size: 3199px 3199px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
  z-index: 10;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #000;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}

.bottom {
  background: silver;
  background-position: -400px -2900px;
  width: 100px;
  height: 100px;
}
.bottom.r {
  background: dimgrey;
  background-position: -1800px -3000px;
}
.bottom.g {
  background: yellowgreen;
  background-position: 0 -1600px;
}
.bottom.w {
  background: skyblue;
  background-position: -100px -1900px;
}

.top {
  background: orange;
  background-position: -2900px -900px;
  width: 100px;
  height: 100px;
}

.back {
  background: white;
  background-position: 0 -800px;
}

.front {
  background: darkgrey;
  background-position: 0 -800px;
}

.left {
  background: lightgrey;
  background-position: -200px -800px;
}

.right {
  background: grey;
  background-position: -200px -800px;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: white;
  z-index: 99999999999;
}
footer a {
  color: lightgrey;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

car {
  background: red;
  width: 50px;
  height: 25px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  z-index: 10;
}

wheel {
  background: black;
  width: 5px;
  height: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

collisionpoint {
  background: green;
  width: 5px;
  height: 5px;
}

canvas {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 0;
}

